{%extends "layout.html" %}
{%block customers%}
<h1>Customers</h1>

<form action="/customers/search" method="POST">
    <input type="text" name="cust_name" id="cust_name" placeholder="Customer name..." name="search">
    <button type="submit">Search</button>
</form>

<a  class=" btn btn-primary" aria-current="page" href="/customers">show all</a>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add Customer
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/customers/newitem" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name*</label>
                        <input class="form-control" name = "name" id="name">
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">City*</label>
                        <input class="form-control" name= "city" id="city">
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">age</label>
                        <input class="form-control" name = "age" id="age">
                    </div>
                    <div id="mandatory" class="form-text">areas marked with * are mandatory</div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
        </div>
    </div>
</div>


<!-- showing customers -->
<div class="row row-cols-6 row-cols-md-3 g-4">
    {%for cust in customers%}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Name: {{cust.cust_name}}</h5>
                <h6 class="card-text">City: {{cust.city}}</h6>
                <h6 class="card-text">Age: {{cust.age}}</h6>
                <a class="btn btn-danger" aria-current="page" href="/customers/del/{{cust.id}}">Remove</a>
                <p class="card-text"><small class="text-muted">id: {{cust.id}}</small></p>
            </div>
        </div>
    </div>

    {%endfor%}
</div>
{%endblock%}